body {
    background-color: powderblue;
    /* font-family:  "Lucida Console", "Courier New", monospace; */
  }

#main{
  color: black;
}

p{
  line-height: 200%;
}

h1 { 
    font-size: xx-large;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-weight: bold;
  }

h2,h3 { 
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }
  
img{
  border: solid 5px black;
  padding: 10px;
  margin: 50px 20px;
  border-top-right-radius: 30px;
}

li{
  display: inline-block;
  margin-left: 50px;
}

